@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
}

/* App container component */

.app-container{
    text-align: center;
    padding:0 2rem 0 2rem;
}

.intro{
    font-size: 3rem;
    border-bottom: 0.2rem solid teal;
    width: 50%;
    margin: 3rem auto;
    padding-bottom: 2rem;
}