/* The Header Component */

.header-section{
    background-color: rgb(1, 44, 44);
    color:white;
    padding: 1.5rem;
    width:100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    box-shadow: 0 2px 10px  gray;
}

.nav-links, ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:60%;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    color:rgb(148, 147, 147);
}

li:hover{
    color:white;
}

.brand{
    font-size: 1.5rem;

}

.dropdown{
    background-color: inherit;
    color:inherit;
    border: none;
    outline: none;
}

.dropdown > option{
    color: rgb(1, 44, 44);
    margin-top: 1rem;
}

.current-user{
    display: flex;
    justify-content: space-between;
    flex-basis: 10%;
    align-items: center;
}

a{
    text-decoration: none;
    color:inherit;
}

/* Header component ends here */